{{ apache_user }} ALL =NOPASSWD: /sbin/fake-hwclock
{{ apache_user }} ALL =NOPASSWD: /usr/bin/timedatectl
{{ apache_user }} ALL =NOPASSWD: /bin/date
{{ apache_user }} ALL =NOPASSWD: /opt/admin/cmdsrv/scripts/poweroffX.sh
