# Admin Console constants
import iiab.iiab_const as IIAB_CONST

admin_install_base = "{{ admin_install_base }}"
admin_scripts_dir = admin_install_base + "/cmdsrv/scripts"

menu_def_base_url = "{{ menu_def_base_url }}"
menu_def_path = "{{ menu_def_path }}" # in repo not file system
menu_def_icon_path = "{{ menu_def_icon_path }}"
# add ?ref=xxx for branch
iiab_pat_url = "{{ iiab_pat_url }}"
iiab_users_name = "{{ iiab_users_name }}"
iiab_users_email = "{{ iiab_users_email }}"

js_menu_dir = "{{ js_menu_dir }}"
common_assets_path = "{{ doc_root }}/common/assets/"
zim_version_idx_dir = common_assets_path
zim_version_idx_file = "zim_version_idx.json"
iiab_menu_files = "{{ js_menu_dir }}menu-files/"
menu_def_dir = iiab_menu_files + "menu-defs/"
doc_root_menu_defs = menu_def_dir
menu_image_dir = iiab_menu_files + "images/"
menu_json_file = "{{ doc_root }}/home/menu.json"
js_menu_assets = '{{ js_menu_assets }}'

# for oer2go_cat

oer2go_cat_url = '{{ oer2go_cat_url }}'
oer2go_cat_url_v2 = '{{ oer2go_cat_url_v2 }}'
rachel_mods_url = '{{ rachel_mods_url }}'
iiab_module_cat_url = '{{ iiab_module_cat_url }}'

oer2go_catalog_file = '{{ iiab_etc_path }}/oer2go_catalog.json'
iiab_catalog_file = '{{ iiab_etc_path }}/iiab_catalog.json'

iiab_menu_repo_dir = "{{ iiab_base }}/iiab-admin-console/roles/js-menu/files/"
iiab_modules_dir = "{{ iiab_modules_dir }}"

iiab_menu_download_dir = js_menu_dir + "local/unedited/"
rachel_working_dir = "/library/working/rachel/"

# update menus

menu_defs_dir = IIAB_CONST.doc_root + "/js-menu/menu-files/menu-defs/"
menu_images_dir = IIAB_CONST.doc_root + "/js-menu/menu-files/images/"
menu_json_path = IIAB_CONST.doc_root + "/home/menu.json"
rachel_path = IIAB_CONST.doc_root + 'modules'
obsolete_menu_defs = admin_scripts_dir + '/obsolete-menu-defs.json'

# either remove iiab_menu_items or remove menu_def attribute from iiab_roles
# possibly move iiab_roles to iiab_const and lib

iiab_menu_items={
     "calibre":"en-calibre",\
     "calibreweb":"en-calibreweb",\
     "cups":"en-cups",\
     "elgg":"en-elgg",\
     "kalite":"en-kalite",\
     "kiwix":"en-test_zim",\
     "kolibri":"en-kolibri",\
     "lokole":"en-lokole",\
     "mediawiki":"en-mediawiki",\
     "moodle":"en-moodle",\
     "nextcloud":"en-nextcloud",\
     "nodered":"en-nodered",\
     "internetarchive":"en-internetarchive",\
     "sugarizer":"en-sugarizer",\
     #"teamviewer":"en-teamviewer",\
     "wordpress":"en-wordpress"
}

iiab_roles_renamed = {
     "calibre-web": "calibreweb",
     "osm-vector-maps" : "osm_vector_maps"
}

iiab_roles = {
     "awstats": {"menu_def": None, "stat_src": "nginx", "stat_arg": "awstats-nginx.conf"},\
     "azuracast": {"menu_def": "en", "stat_src": "install", "stat_arg": None},\
     # check
     "calibre": {"menu_def": "en", "stat_src": "service", "stat_arg": "calibre-serve.service"},\
     "calibre-web": {"menu_def": "en-calibre", "stat_src": "service", "stat_arg": "calibre-web.service"},\
     "captiveportal": {"menu_def": None, "stat_src": "nginx", "stat_arg": "capture.conf"},\
     "cups": {"menu_def": "en-cups", "stat_src": "service", "stat_arg": "cups.service"},\
     "elgg": {"menu_def": "en-elgg", "stat_src": "nginx", "stat_arg": "elgg-nginx.conf"},\
     "gitea": {"menu_def": "en-gitea", "stat_src": "service", "stat_arg": "gitea.service"},\
     "internetarchive": {"menu_def": "en-internetarchive", "stat_src": "service", "stat_arg": "internetarchive.service"},\
     "jupyterhub": {"menu_def": "en-jupyter", "stat_src": "service", "stat_arg": "jupyterhub.service"},\
     "kalite": {"menu_def": "en-kalite", "stat_src": "service", "stat_arg": "kalite-serve.service"},\
     "kiwix": {"menu_def": "en-test_zim", "stat_src": "service", "stat_arg": "kiwix-serve.service"},\
     "kolibri": {"menu_def": "en-kolibri", "stat_src": "service", "stat_arg": "kolibri.service"},\
     "lokole": {"menu_def": "en-lokole", "stat_src": "service", "stat_arg": "lokole.service"},\
     "mediawiki": {"menu_def": "en-calibre", "stat_src": "nginx", "stat_arg": "mediawiki-nginx.conf"},\
     "minetest": {"menu_def": "en-minetest", "stat_src": "service", "stat_arg": "minetest-server.service"},\
     "monit": {"menu_def": None, "stat_src": "service", "stat_arg": "monit.service"},\
     "moodle": {"menu_def": "en-moodle", "stat_src": "nginx", "stat_arg": "moodle-nginx.conf"},\
     "mosquitto": {"menu_def": None, "stat_src": "service", "stat_arg": "mosquitto.service"},\
     "munin": {"menu_def": None, "stat_src": "nginx", "stat_arg": "munin24-nginx.conf"},\
     "nextcloud": {"menu_def": "en-nextcloud", "stat_src": "nginx", "stat_arg": "nextcloud-nginx.conf"},\
     "nodered": {"menu_def": "en-nodered", "stat_src": "service", "stat_arg": "nodered.service"},\
     "openvpn": {"menu_def": None, "stat_src": "service", "stat_arg": "openvpn@xscenet.service"},\
     # en-osm_viewer_v2
     "osm-vector-maps": {"menu_def": None, "stat_src": "nginx", "stat_arg": "osm-vector-maps-nginx.conf"},\
     "pbx": {"menu_def": None, "stat_src": "service", "stat_arg": "freepbx.service"},\
     "phpmyadmin": {"menu_def": None, "stat_src": "apache", "stat_arg": "phpmyadmin.conf"},\
     "samba": {"menu_def": None, "stat_src": "service", "stat_arg": "{{ smb_service }}"},\
     "sugarizer": {"menu_def": "en-sugarizer", "stat_src": "service", "stat_arg": "sugarizer.service"},\
     "transmission": {"menu_def": None, "stat_src": "service", "stat_arg": "transmission-daemon.service"},\
     "usb_lib": {"menu_def": "en-usb", "stat_src": "service", "stat_arg": "usbmount@.service"},\
     "vnstat": {"menu_def": None, "stat_src": "service", "stat_arg": "vnstat.service"},\
     "wordpress": {"menu_def": "en-wordpress", "stat_src": "nginx", "stat_arg": "wordpress-nginx.conf"}\
}

# for maps

vector_map_idx_dir = common_assets_path
map_doc_root = '{{ vector_map_path }}'    # /library/www/osm-vector-maps
