# Admin Console constants

menu_def_base_url = "{{ menu_def_base_url }}"
menu_def_path = "{{ menu_def_path }}" # in repo not file system
menu_def_icon_path = "{{ menu_def_icon_path }}"
# add ?ref=xxx for branch
iiab_pat_url = "{{ iiab_pat_url }}"
iiab_users_name = "{{ iiab_users_name }}"
iiab_users_email = "{{ iiab_users_email }}"

js_menu_dir = "{{ js_menu_dir }}"
common_assets_path = "{{ doc_root }}/common/assets/"
zim_version_idx_dir = common_assets_path
zim_version_idx_file = "zim_version_idx.json"
iiab_menu_files = "{{ js_menu_dir }}/menu-files/"
menu_def_dir = iiab_menu_files + "menu-defs/"
doc_root_menu_defs = menu_def_dir
menu_image_dir = iiab_menu_files + "images/"
menu_json_file = "{{ doc_root }}/home/menu.json"
js_menu_assets = '{{ js_menu_assets }}'

# for oer2go_cat - WIP
oer2go_cat_url = '{{ oer2go_cat_url }}'
rachel_mods_url = '{{ rachel_mods_url }}'
iiab_cat_url = '{{ iiab_cat_url }}'

oer2go_catalog_file = js_menu_assets + "oer2go_catalog.json"
iiab_catalog_file = js_menu_assets + "iiab_catalog.json"

iiab_menu_repo_dir = "{{ iiab_base }}/iiab-admin-console/roles/js-menu/files/"
iiab_modules_dir = "{{ iiab_modules_dir }}"

iiab_menu_download_dir = js_menu_dir + "local/unedited/"
#working_dir = "/library/working/rachel/" + str(uuid.uuid4()) + "/"
