# Don't forget changes to files that integrate to the webserver

# we don't yet know how this will run in the new iiab

#WSGIScriptAlias /cmd-service {{ admin_console_dir }}/cmd-service.wsgi

#AddType text/html .py

#AddHandler wsgi-script .wsgi
