{
    "_comments": "iiab-cmdsrv.conf - runtime parameters for the IIAB Command Server",
    "cmdsrv_conf": {

        "iiab_base" : "{{ iiab_base }}",
        "iiab_repo" : "{{ iiab_repo }}",
        "iiab_config_dir" : "{{ iiab_config_dir }}",
        "iiab_config_file" : "{{ iiab_config_file }}",
        "iiab_ini_file" : "{{ service_filelist }}",
        "iiab_local_vars_file" : "{{ iiab_local_vars_file }}",
        "cmdsrv_no_workers" : 5,
        "cmdsrv_job_poll_sleep_interval" : 1,
        "cmdsrv_max_concurrent_jobs" : 7,
        "cmdsrv_pid_file" : "{{ cmdsrv_pid_file }}",
        "cmdsrv_ready_file" : "{{ cmdsrv_ready_file }}",
        "cmdsrv_lower_job_priority_flag" : {{ cmdsrv_lower_job_priority_flag }},
        "cmdsrv_lower_job_priority_str" : "{{ cmdsrv_lower_job_priority_str }}",
        "kiwix_catalog_file" : "{{ iiab_config_dir }}/kiwix_catalog.json",
        "content_base" : "/library",
        "zim_dir" : "/library/zims/",
        "zim_downloads_dir" : "/library/downloads/zims/",
        "zim_working_dir" : "/library/working/zims/",
        "zim_download_prefix" : "kiwix-0.9+",
        "oer2go_catalog_file" : "{{ iiab_config_dir }}/oer2go_catalog.json",
        "rachel_downloads_dir" : "/library/downloads/rachel/",
        "rachel_working_dir" : "/library/working/rachel/",
        "oer2go_cat_url" : "{{ oer2go_cat_url }}",
        "rachel_mods_url" : "{{ rachel_mods_url }}",
        "oer2go_mods_url" : "{{ rachel_mods_url }}",
        "modules_dir" : "{{ iiab_modules_dir }}",
        "js_menu_dir" : "{{ js_menu_dir }}",
        "cmdsrv_dbname" : "{{ cmdsrv_dbname }}",
        "ansible_playbook_program" : "{{ ansible_local.admin_facts.ansible_playbook_program }}",
        "ansible_program" : "{{ ansible_local.admin_facts.ansible_program }}",
        "apache_user" : "{{ apache_user }}",
        "squid_service" : "{{ squid_service }}",
        "df_program" : "{{ df_program }}"
        }
}
