[Unit]
Description=Provides the XSCE Command Server
After=syslog.target network.target local-fs.target

[Service]
Type=forking
Environment="CMDSRV_DIR={{ cmdsrv_dir }}"
PIDFile={{ cmdsrv_pid_file }}
{% if is_debuntu %}
ExecStart=/etc/init.d/iiab-cmdsrv-init  start
{% else %}
ExecStart=/usr/libexec/iiab-cmdsrv-init  start
{% endif %}
ExecStop=/usr/bin/iiab-cmdsrv-ctl STOP

[Install]
WantedBy=multi-user.target
