[Unit]
Description=Provides the IIAB Command Server
After=syslog.target network.target local-fs.target

[Service]
Type=forking
Environment="CMDSRV_DIR={{ cmdsrv_dir }}"
PIDFile={{ cmdsrv_pid_file }}
ExecStart={{ cmdsrv_dir }}/iiab-cmdsrv3.py --daemon
ExecStop=/usr/bin/iiab-cmdsrv-ctl STOP

[Install]
WantedBy=multi-user.target
