- name: Create admin-console directory tree
  file: path={{ item }}
        mode=0755
        owner=root
        group=root
        state=directory
  with_items:
    - "{{ admin_console_dir }}"
    - "{{ admin_console_dir }}/css"
    - "{{ admin_console_dir }}/help"
    - "{{ admin_console_dir }}/js"
    - "{{ admin_console_dir }}/htmlf"
    - "{{ admin_console_dir }}/map"

- name: Copy admin-console css files
  copy: src={{ item }}
        dest="{{ admin_console_dir }}/css"
        mode=0644
        owner=root
        group=root
  with_fileglob:
        - css/*.css

- name: Copy admin-console help files
  copy: src={{ item }}
        dest="{{ admin_console_dir }}/help"
        mode=0644
        owner=root
        group=root
  with_fileglob:
        - help/*

- name: Copy admin-console javascript files
  copy: src={{ item }}
        dest="{{ admin_console_dir }}/js"
        mode=0644
        owner=root
        group=root
  with_fileglob:
        - js/*

- name: Copy admin-console html fragment files
  copy: src={{ item }}
        dest="{{ admin_console_dir }}/htmlf"
        mode=0644
        owner=root
        group=root
  with_fileglob:
        - htmlf/*

# after this branch is merged into master, enable the following
#- name: Fetch the javascript bundle with openlayers module
#  get_url:
#     url: "{{ iiab_map_url }}/admin-console/main.js"
#     dest: "{{ admin_console_dir }}/map/main.js"

# before the merge, use this version
- name: Temporary webpack bundle which interfaces with new map directory
  copy:
     src: map/main.js
     dest: "{{ admin_console_dir }}/map/main.js"

- name: Install admin-console config file for web server (now only supports nginx)
  template: src=admin-console-nginx.conf.j2
            dest=/etc/nginx/conf.d/admin-console.conf
            owner=root
            group=root
            mode=0644
  when: not adm_cons_force_ssl

- name: Install admin-console wsgi service
  template: src=cmd-service3.wsgi.j2
            dest="{{ admin_console_dir }}/cmd-service3.wsgi"
            owner=root
            group=root
            mode=0644

- name: Put the uswgi file in place
  template:
      src: '{{ item.src}}'
      dest: '{{ item.dest }}'
  with_items:
    - { src: "admin-console.ini.j2",dest: "/etc/uwsgi/apps-enabled/admin-console.ini" }
  when: nginx_enabled

- name: Install admin-console server info service
  template: src=server-info.php
            dest="{{ admin_console_dir }}/server-info.php"
            owner=root
            group=root
            mode=0644

- name: Install image upload service
  template: src=upload-image.php
            dest="{{ admin_console_dir }}/upload-image.php"
            owner=root
            group=root
            mode=0644

- name: Install admin-console app
  copy: src=index.html
        dest="{{ admin_console_dir }}/index.html"
        owner=root
        group=root
        mode=0644

- name: Restart nginx to pick up the config files installed
  systemd:
    name: nginx
    state: restarted
    enabled: true
  when: nginx_enabled

- name: Add user '{{ apache_user }}' to shadow group, so it can authenticate Admin Console
  user:
    name: "{{ apache_user }}"    # www-data or apache, per /opt/iiab/iiab/vars/<OS>.yml
    groups: shadow

- name: Enable the uwsgi systemd service
  systemd:
    name: uwsgi
    state: restarted
    enabled: true
  when: nginx_enabled
