.content-item {
    font-size: 1em;
    padding: 10px 0 10px 0;
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-bottom: 2px;
    background-color: #fff;
    align-items: flex-start;
}

.content-icon {
	  padding: 0 10px 0 10px;
}

.content-cell {
	  vertical-align:top;
	  padding: 0 10px 0 10px;
}
.content-item img {
    width: 5vw;
    min-width: 60px;
    /*margin-right: 10px;
    margin-bottom: 32px;*/
    border-radius: 5px;
}

.content-item-title {
  font-size: 1.4em;
  font-weight: 600;
}

.content-item p {
  margin-top: 5px;
  margin-bottom: 2px;
  /* margin-right: 1vw; wait for :dir() support */
}

/* this is currently only supported in FF */
.content-item p:dir(rtl) {
  margin-right: 0;
}

/* make extra html flex row and ul flex col */
.content-extra {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
}
.content-extra ul {
    margin: 10px 0 10px 0;
    font-size: 80%;
    line-height: 120%;
    width:100%;
}

.content-extra >table {
  width:100%;
}

.content-item ul.double {
    column-count: 2;
    -webkit-column-count: 2;
    -moz-column-count: 2;
 }
.content-item ul.triple {
    column-count: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
 }
.content-item ul.quad   {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
 }
.content-item .listhead {
    font-weight: bold;
    font-size: 120%;
    margin: 5px 0 5px 0;
}

.content-item .smallblurb {
    font-size: 80%;
    padding: 0 10px 0 10px;
    /* margin-left: 130px;*/
}


/* Enlarge Arabic Fonts */

.lang_ar  {
    font-size: 120% !important;
}

.lang_ar h2 {
    font-size: 150% !important;
}
