- name: Clone js-menu-files for images and menu defs
  git:
    repo: "https://github.com/{{ menu_files_repo }}"
    dest: "{{ downloads_dir }}/js-menu-files"
    depth: 1

- name: Synchronize/Copy menu-defs
  synchronize:
    src: "{{ downloads_dir }}/js-menu-files/menu-defs"
    dest: "{{ js_menu_dir }}/menu-files"
  when: not is_proot

- name: Synchronize/Copy images
  synchronize:
    src: "{{ downloads_dir }}/js-menu-files/images"
    dest: "{{ js_menu_dir }}/menu-files"
  when: not is_proot

- name: Synchronize/Copy menu-defs (proot)
  synchronize:
    src: "{{ downloads_dir }}/js-menu-files/menu-defs"
    dest: "{{ js_menu_dir }}/menu-files"
    rsync_opts:
      - "--no-owner"
      - "--no-group"
      - "--no-perms"
      - "--omit-dir-times"
  when: is_proot

- name: Synchronize/Copy images (proot)
  synchronize:
    src: "{{ downloads_dir }}/js-menu-files/images"
    dest: "{{ js_menu_dir }}/menu-files"
    rsync_opts:
      - "--no-owner"
      - "--no-group"
      - "--no-perms"
      - "--omit-dir-times"
  when: is_proot

- name: Post process the downloaded menu defs
  shell: "{{ cmdsrv_dir }}/scripts/install_menu_defs.py"
