# all packages and jquery/bootstrap assumed installed by iiab install

- name: Create js-menu directory tree and dummy module
  file: path={{ item }}
        mode=0755
        owner=root
        group=root
        state=directory
  with_items:
    - "{{ js_menu_dir }}"
    - "{{ js_menu_dir }}menu-files"
    - "{{ js_menu_dir }}sample-menus"
    - "{{ doc_root }}/modules/en-test_mod"

- name: Copy a dummy module for oob menu
  copy: src=en-test_mod/index.html
        dest="{{ doc_root }}/modules/en-test_mod"
        owner=root
        group=root
        mode=0644
        force=no

# need to merge locally edited menu-defs
# continue to use cp-menu until we have forms-based menu-def editing
#- name: Synchronize/Copy menu-files
#  synchronize:
#    src: files/menu-files
#    dest: "{{ js_menu_dir }}/menu-files"

- name: Synchronize/Copy menu-files
  synchronize:
    src: files/sample-menus
    dest: "{{ js_menu_dir }}/sample-menus"

- name: Install js-menu config file
  template: src=config.json.j2
            dest={{ js_menu_dir }}/config.json
            owner=root
            group=root
            mode=0644

- name: Install index.html in home
  copy: src=index.html
        dest="{{ doc_root }}/home/index.html"
        owner=root
        group=root
        mode=0644

- name: Install menu.json in home
  copy: src=menu.json
        dest="{{ doc_root }}/home/menu.json"
        owner=root
        group=root
        mode=0644
        force=no

- name: Copy Menu Files and Create Feedback Database
  shell: ./cp-menus

- name: Make web server user owner of images after copying
  file: path="{{ js_menu_dir }}menu-files/images/"
        mode=0755
        owner="{{ apache_user }}"
        group="{{ apache_user }}"
        state=directory
        recurse=true

- name: Add any IIAB roles that are installed to home/menu.js
  shell: "{{ cmdsrv_dir }}/scripts/iiab_update_menus.py"

# For Osm Vector Maps
# If not enabled install empty files
# Otherwise run /usr/bin/iiab-update-map

- name: Copy Osm Vector Maps dummy files
  copy:
    src: map/{{ item }}
    dest: "{{ doc_root }}/common/assets/{{ item }}"
    owner: root
    group: root
    mode: 0644
    force: yes

  with_items:
    - regions.json
    - vector-map-idx.json
  when: not osm_vector_maps_enabled

- name: Remove region.json dummy file if osm_vector_maps_enabled
  file:
    path: "{{ doc_root }}/common/assets/regions.json"
    state: absent
  when: osm_vector_maps_enabled

- name: Create a link to osm catalog in /common/assets
  file:
    src: "{{ vector_map_path }}/maplist/assets/regions.json"
    dest: "{{ doc_root }}/common/assets/regions.json"
    state: link
  when: osm_vector_maps_enabled

- name: Add any MAPS that are installed to home/menu.js
  shell: /usr/bin/iiab-update-map
  when: osm_vector_maps_enabled
